{% extends 'index.html' %}

{% block css %}
 <link rel='stylesheet' href="{{url_for('static', filename='/css/about.css')}}">
{% endblock %}


{% block content %}

   <h1>ABOUT</h1>

    <div class="main">

      <div class="flex-container">
        <div class="right-block"></div>
        <div class="left-block">
            <h2>Meet the Photographer</h2>
            <p>
              У меня есть любимая фраза :"лучше сделать и пожалеть, чем не сделать , а потом жалеть всю жизнь".
          С самого детства мечтала играть на фортепиано и каждый день играла на пианино дома. Мне нравились
         эти большие черно-белые клавиши, нравилось как они звучат и как по всей квартире распространяется звук.
           И однажды брат взял меня за руку и сказал -'эй ,пошли!' .Тем самым сыграв большую роль в моей судьбе я поступила
         в музыкальную школу Римского-Корсакого номер 1 по классу виолончель +фортепиано .
            </p> 
            <p>Паралелльно занималась акробатикой в течение пяти лет , потом пришлось бросить ибо тренировки занимали 
              огромное количество времени , но где то в 15 лет мне посчастливилось попасть в ДМТЮА
               ( детский Музыкальный театр юного актера) к Федорову Александру Львовичу , который и подсказал
                мне чемзаниматься в жизнь и кем я хочу быть. Сыграв во многих детских спектаклей я поняла что петь и танцевать , 
                и при этом играть - это не только здорово , а ещё и высший пилотаж если это освоить во всей своей мере.
            </p>
        </div>
      </div>

    </div>
{% endblock %}

</html>